#overflow_text {
  width: 80px;
  height: 60px;
  padding: 20px;
  border: 1px solid black;
}

.awesome {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  border: 5px solid;
  padding: 2rem;

  /* The important extrinsic width */
  width: 320px;
}

.awesome[data-sizing="true"] {
  width: min-content;
}

/*

  /*
  Presentational styles
  */
.awesome {
  --flow-space: 2rem;
}

#margin_box {
  border: 1px solid blue;
  height: 400px;
  width: 100%;
  text-align: center;
  display: block;
  padding: 2px;
  font-size: 10px;
  background-color: aqua;
}

#border_box {
  border: 1px solid black;
  display: block;
  padding: 2px;
  margin-left: 25px;
  margin-right: 25px;
  height: 335px;
  background-color: blue;
}

#padding_box {
  border: 1px solid blue;
  display: block;
  padding: 2px;
  margin-left: 25px;
  margin-right: 25px;
  height: 265px;
  background-color: aqua;
}

#content_box {
  border: 1px solid blue;
  display: block;
  margin-left: 25px;
  margin-right: 25px;
  height: 205px;
  background-color: white;
}

#border_box_title {
    font-weight: bolder;
    color: white;
}